name: Dispatch events

on:
  workflow_dispatch:

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: gotson/komga-website
          event-type: openapi
